.app {
  min-height: 100vh;
  background: rgb(230, 230, 230);
  padding: 2rem 0 4rem 0;
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  height: 2.5rem;
  background-color: rgb(212, 189, 148);
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  letter-spacing: 0.12rem;
  line-height: 1;
}
